        </div>

        <!-- Bootstrap config-->
        <!-- JavaScript bootstrap@5.0.1 Bundle with Popper -->
        <script
                type="text/javascript"
                crossorigin="anonymous"
                src="<%= config.S3_BUCKETS.PUBLIC_ASSETS.URL %>/static/js/bootstrap.bundle.min.js"
        ></script>
    </body>
</html>
