<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="<%= config.S3_BUCKETS.PUBLIC_ASSETS.URL %>/static/favicon.png" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Auth portal for *.vighnesh153.com"/>
    <title>Auth for *.vighnesh153.com</title>


    <!-- Bootstrap config-->
    <!-- CSS bootstrap@5.0.1 -->
    <link href="<%= config.S3_BUCKETS.PUBLIC_ASSETS.URL %>/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript bootstrap@5.0.1 Bundle with Popper -->
    <script src="<%= config.S3_BUCKETS.PUBLIC_ASSETS.URL %>/static/js/bootstrap.bundle.min.js"></script>
</head>

<div class="container text-center mt-4" style="max-width: 700px">
