<%- include('./includes/header'); -%>

<div class="container text-center mt-4" style="max-width: 700px">
    <h3>
        Are you lost? You should take a look at the apps that I made&nbsp;
        <a href="https://apps.vighnesh153.com" rel="noreferrer">
            *.vighnesh153.com
        </a>
    </h3>
</div>
