<%- include('./includes/header', { config: config }); -%>

<div class="alert alert-danger" role="alert">
    Invalid redirect URI. Apna auth portal bana na. Mera kyu use kar raha hai. Hutiya.
</div>
<h3>
    Auth portal for &nbsp;
    <a href="https://apps.vighnesh153.com" target="_blank" rel="noreferrer">
        *.vighnesh153.com
    </a>
</h3>

<%- include('./includes/footer'); -%>
