<%- include('./includes/header'); -%>

<h3>
    Auth portal for &nbsp;
    <a href="https://apps.vighnesh153.com" target="_blank" rel="noreferrer">
        *.vighnesh153.com
    </a>
</h3>
<%- include('./includes/buttons/loginWithGoogle'); -%>

<%- include('./includes/footer'); -%>
