<%- include('../includes/header', { config: config }); -%>

<div class="alert alert-success" role="alert">
    Log in successful.
</div>
<h3>
    Auth portal for &nbsp;
    <a href="https://apps.vighnesh153.com" target="_blank" rel="noreferrer">
        *.vighnesh153.com
    </a>
</h3>

<%- include('../includes/scripts/redirectUser'); -%>

<%- include('../includes/footer'); -%>
